  </main>
  
  <!-- Rodapé -->
  <footer class="page-footer theme-primary-bg" style="padding-top: 40px;">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">%site_name%</h5>
          <p class="grey-text text-lighten-4">Compromisso com a excelência em serviços B2B corporativos e escaláveis.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links Rápidos</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="index.html">Início</a></li>
            <li><a class="grey-text text-lighten-3" href="sobre.html">Sobre Nós</a></li>
            <li><a class="grey-text text-lighten-3" href="contato.html">Contato Corporativo</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright" style="background-color: rgba(0,0,0,0.2);">
      <div class="container">
      &copy; %YEAR% %site_name%. %footer.address%
      </div>
    </div>
  </footer>

  <!-- Materialize JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
    });
  </script>
</body>
</html>
